{{/* SPACE */}}
--------------------------
Job Parameters
--------------------------
Username: {{.User.Username}}
Password: *************
Devices:
{{- range .Devices.Devices }}
  - Name:      {{.Name}}
    IP:        {{.IP}}
    Vendor:    {{.Vendor}}
    Platform:  {{.Platform}}
    Connector: {{.Connector}}
{{- end }}
Commands:
{{- range .Commands.Commands}}
  - {{.}}
{{- end }}

--------------------------
Job Result
--------------------------
{{/* SPACE */}}